body {
    background-color: #004507;
    color: #ddd;
    font-style: oblique;
    font-size: 1.2em;
}

.p5Canvas {
    border-radius: 10px;
}

.bounded-box {
    display: block;
    width: 500px;
    margin: 20px auto;
}

/*
    quotes
*/
.quoted::before, .quoted::after {
    font-size: 1.1em;
    color: #c4bf18;
    font-family: fantasy;
}

.quoted::before {
    content: '\201C';
    /* content: '\301D'; */
}

.quoted::after {
    content: '\201D';
    /* content: '\301E'; */
}

.quoted > .quoted::before {
    content: '\2018';
}

.quoted > .quoted::after {
    content: '\2019';
}
